azion_personal_token=XXXXXXXXXXXXX
aws_rds_host=database-1.host.us-east-1.rds.amazonaws.com
aws_rds_username=username
aws_rds_password=userpassword
aws_rds_database=databasename
hosts_list=hostname
first_run_datetime=2024-04-01T00:00:00Z